<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title><%= title%></title>
</head>
<body>
    <%- include('partials/navigation') %> 
    <main class="container vh-100 pt-2 text-center d-flex justifiy-content-center align-items-center">
        <section>
            <h1 class="display-1 d-flex justify-content-center">Mision</h1>
            <p class="d-flex justifiy-content-center">Desarrollar programas y aplicaciones para facilitar y agilizar tareas.La necesidad de las empresas en el area metropolitana y rural nos permitira entregarles soluciones y desarrollos para integrarlas aun mas en una era que cada dia se posiciona en el mundo y es la era W3 </p>
            <h1 class="display-1 d-flex justify-content-center">vision</h1>
            <p class="d-flex justifiy-content-center">Como primera medida realizaremos desarrollo de Software en todo el municipio tanto en el area rural como el area metropolitana.Formando un equipo de trabajo capacitado para atender los diferentes requerimientos para asi dentro de un aplicativo ya sea web o android integrar la idea del usuario y sistematizarla,como segunda medida se pretende realizar alianzas con empresas y realizar una ampliacion nacional ya sea soluciones de tipo ambiental o social que contibuyan a el mejoramiento y avance de nuestro pais.</p>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>