<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title><%=title%></title>
</head>
<body class="body-contact">
    <%- include('partials/navigation') %>
    <main class="container-about">
            <div class="contenedor-texto">
                <h1>MISION</h1>
                <p>Colaborar en la satisfacción de las necesidades de los asociados evitando la especulación y acaparamiento de productos bienes y servicios relacionados con la actividad del sector automotor mejorando la calidad de vida, la educación profesional, técnica y cooperativa de sus asociados</p>
            <h1>VISION</h1>
                <P>En el futuro inmediato organizar e incrementar para sus asociados y la comunidad de usuarios donde opera servicios relacionados con la actividad del transporte para posicionar la Cooperativa como una empresa líder en el ramo en el centro y sur colombiano que garantice con calidad y eficiencia el desarrollo sostenible de sus cooperados en el ámbito Municipal, Departamental, Nacional e Internacional</P>
            </div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>