<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title><%=title%></title>
</head>

<body class="body-contact">
    <%- include('partials/navigation') %>
        <main class="main-contact">
            <div class="contact-hero-section">
                <div class="contact-hero-effect">
                    <h1>¡Siéntete libre de contactarnos!</h1>
                    <p>¿Necesitas algún servicio, petición, queja o reclamo?</p>
                    <span>¡llena Nuestro formulario y ponte en contacto!</span>
                </div>
            </div>

            <form action="post" class="contact-form">
                <div class="form-left">
                    <!-- aquí va todo el form -->
                    <label for="name">
                        Primer Nombre
                    </label>
                    <input type="text" name="Nombre" id="name" placeholder="¡Escribe tu nombre aquí!">
                    <label for="apellido">
                        Primer Apellido
                    </label>
                    <input type="text" name="apellido" id="apellido" placeholder="¡Escribe tu apellido aquí!">
                    <label for="email">
                        Email
                    </label>
                    <input type="email" name="Email" id="email" placeholder="¡Escribe tu Email aquí!">
                    <label for="mensaje">Mensaje</label>
                    <textarea name="Mensaje" id="mensaje" cols="200" rows="7"
                        placeholder="Aquí puedes escribir tu mensaje, queja o petición">
                    </textarea>`
                    <button type="submit">Enviar</button>
                </div>
                <div class="form-right-ubication">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7973.776612426602!2d-75.6337600061805!3d2.195950311331337!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e24d9628d22214b%3A0x6ebe1d6b62bd7d0c!2sCOOTRANSGAR%20LTDA!5e0!3m2!1ses-419!2sco!4v1692814456049!5m2!1ses-419!2sco"
                        width="100%%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </form>
        </main>
    <%- include ('partials/footer') %> 
</body>
</html>