<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title><%= title%></title>
</head>
<body>
    <%- include('partials/navigation') %>
    
    <!--maen content-->
    <header class="container vh-100 d_flex justify-content-center align-items-center">
        <div class="d-flex flex-column justifiy-content-center align-items-center">
            <img src="img/empresarial.png" alt="logo" class="ing-fluid w-25">
            <h1 class="display-1 my-5 text-robot fm-bold">Fanar Game</h1>
            <a href="/about" class="btn btn-outline-secondary w-25">Mision Vision</a>
            
        </div>
    </header>
</body>
<%- include('partials/footer') %>
</html>


