<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title><%= title%></title>
</head>
<body>
    <%- include('partials/navigation') %>
    <header class="container-header">
        <div class="d-flex flex-column justifiy-content-center align-items-center">
            <h1 class="display-1 my-5  ">Cootransgar Ltda.</h1> 
            <P>Empresa lider en el area de transportes a nivel departamental reconocida en diferentes municipios caracterizada por su buen servicio y su talento humano.</P>
        </div>
       <a href="/about"> <div class="button-about">
            <button type="button"> Quienes somos</button>
        </div></a>
    </header>
    <%- include('partials/footer') %>
</body>

</html>

