<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title><%= title%></title>
</head>
<body>
    <%- include('partials/navigation') %> 
    <main class="container vh-90 pt-2 text-center d-flex justifiy-content-center align-items-center">
        <section>
            <h1 class="display-1 d-flex justify-content-center">Portafolio</h1>
            <p class="d-flex justifiy-content-center">Nuestro portafolio de proyectos muestra nuestra experiencia y 
                el impacto que hemos tenido en diversas industrias. Hemos trabajado con empresas de 
                diferentes tamaños y sectores, brindándoles soluciones tecnológicas a medida que han 
                mejorado su eficiencia operativa y su presencia en línea. Estos son algunos de nuestros 
                proyectos destacados:
                </p>
                <a href="#" class="project-link">
                    <div class="project">
                        <img src="/img/pro1.jpg" alt="Proyecto 1">
                        <p class="caption">Nuevas tecnologias siempre a la banguardia</p>
                    </div>
                </a>
            
                <a href="#" class="project-link">
                    <div class="project">
                        <img src="/img/pro2.jpg" alt="Proyecto 2">
                        <p class="caption">Diseño e innovacion</p>
                    </div>
                </a>
                <a href="#" class="project-link">
                    <div class="project">
                        <img src="/img/pro3.jpg" alt="Proyecto 3">
                        <p class="caption">Nos preocupamos por los detalles</p>
                    </div>  
                </a>
            <p class="d-flex justifiy-content-center">Estos proyectos son solo ejemplos de nuestro trabajo. Estamos listos para abordar nuevos 
            desafíos y encontrar soluciones innovadoras para tu empresa.</p>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>