<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title><%= title%></title>
</head>
<body>
    <%- include('partials/navigation') %>
    <main class="container vh-100 pt-2 text-center d-flex justifiy-content-center align-items-center">
        <section>
            <h1 class="display-1 d-flex justify-content-center">Nuestros servicios</h1>
            <ul class="services-list">
               <li class="services-list">Desarrollo de software a medida</li>
               <li class="services-list">Diseño y desarrollo web</li>
               <li class="services-list">Desarrollo de aplicaciones móviles
            </li>
               <li class="services-list">Consultoría tecnológica</li>
               <li class="services-list">Integración de sistemas</li>
               <li class="services-list">Diseño de interfaces de usuario (UI/UX)
            </li>
               <li class="services-list">Servicios de análisis de datos</li>
               <li class="services-list">Seguridad y protección de datos</li>
            </ul>
            <p class="d-flex justifiy-content-center">Confía en nuestro equipo altamente capacitado y experimentado para brindarte soluciones 
            de alta calidad que impulsen tu negocio hacia el éxito.</p>
    </section>
    </main>
    <%- include('partials/footer') %>
</body>       
</html>