<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title><%= title%></title>
</head>
<body>
    <%- include('partials/navigation') %>
    <main class="container vh-100 pt-2 text-center d-flex justifiy-content-center align-items-center">
        <section class="chat-container">
            <div class="message left">
                <h1 class="display-1 d-flex justify-content-center">Martha Cecilia</h1>
                <p class="d-flex justifiy-content-center">Estoy muy agradecido con FANAR GAME puesto que requerimos un software para mejorar los tiempos de despacho y ellos lo realizaron de una menera magnifica,los recomiendo por su cumpliliento y seriedad</p>
            </div>
            <div class="message right">
                <h1 class="display-1 d-flex justify-content-center">Juan David Cuspides</h1>
                <p class="d-flex justifiy-content-center">Vivo muy tranquilo sabiendo que existen empresas como esta que se dedican a facilitarte las tareas en cuanto a sistematizacion se refiere son muy profecionales y merecen estar en lo mas alto de las grandes corporaciones tiene un excelente equipo humano</p>
            </div>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>