<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="#">SOFWARE EMPRESARIALES</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Nuestra empresa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">Mision Vision</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/service">servicios</a>
          </li>
          <li class="nav-item">
          <li class="nav-item">
            <a class="nav-link" href="/portafolio">Portafolio</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="/contact">Contáctanos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/testimony">Testimonios</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>