
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" ><img class="img-header" src="https://www.cootransgar.com.co/wp-content/uploads/2023/04/LogoArriba.png" srcset="https://www.cootransgar.com.co/wp-content/uploads/2023/04/LogoArriba.png 1x, https://www.cootransgar.com.co/wp-content/uploads/2023/04/LogoArriba.png 2x" width="300" height="47" style="max-height:47px;height:auto;" alt="Cootransgar Logo" data-retina_logo_url="https://www.cootransgar.com.co/wp-content/uploads/2023/04/LogoArriba.png" class="fusion-mobile-logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Nuestra Empresa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  